*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: rgb(151, 255, 255);
    width: 100%;
    height: 400px;
}

.container{
    
    width: 85%;
    margin:auto;
    
}

.language_contact{
  float: left;   
  height: 40px;
   margin-top: 10px;
}

.search_login_get{
    float: right;
    margin-top: 20px;
    height: 40px;
}

.imm_search{
    width: 10px;
    height: 10px;
}

.tratto_ver{
    padding-right:5px ;
    padding-left: 5px;
}

.language_contact a, .search_login_get a{
    text-decoration: none;
}

.white{
    background-color: white;
     width: 100%;
     border-top: 1px solid black;
}

.login_button{
    background-color: white;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.get_button{
    background-color: green;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
}

.set_logo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.link_utili{
    float: right;
    padding-top:25px;
    
}

select{
    border-style: none;
    background-color:transparent;
}

.jumbotron{
    background-image: url(./hubspot/img/jumbotron.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    position: relative;
    
}

.container2{
  width: 85%;
  position: relative;
  margin:auto;
  
}

.presentazione{
     width: 50%;
     height: 50%;
     position: absolute;
     top:50px;
     left: 0;
     font-size: 22px;
 }

.presentazione p{
    margin-top: 20px;
    margin-bottom: 40px;
}

.presentazione a{
    text-decoration: none;
    margin-top:20px;
    margin-bottom: 20px;
    padding:20px;
}

.presentazione h6{
    margin-top: 60px;
}

.grey_block{
    
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: rgb(175, 169, 169);
    border-top:2px solid black;
    border-bottom: 2px solid black;
    position: absolute;
    bottom: 0;

}