*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: rgb(151, 255, 255);
    width: 100%;
    
}

.container{
    
    width: 85%;
    margin:auto;
    
}

.language_contact{
  float: left;   
  height: 40px;
  margin-top: 10px;
}

.spunta{
    font-size: 18px;
    padding-bottom: 30px;
    padding-left: 5px;
    color: blue;
}


.search_login_get{
    float: right;
    margin-top: 20px;
    height: 40px;
}

.imm_search{
    width: 10px;
    height: 10px;
}

.tratto_ver{
    padding-right:5px ;
    padding-left: 5px;
}

.language_contact a, .search_login_get a{
    text-decoration: none;
}

.search_login_get img{
    width: 15px;
    height: 15px;
}

.white{
    background-color: white;
     width: 100%;
     border-top: 1px solid black;
}

.login_button{
    background-color: white;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.get_button{
    background-color: rgb(18, 187, 18);
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
}

.set_logo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.link_utili{
    float: right;
    padding-top:25px;
}

.link_utili a{
    text-decoration: none;
    padding-right: 5px;
    padding-left: 10px;
}



.jumbotron{
    background-image: url(./hubspot/img/jumbotron.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    position: relative;
    
}

.container2{
  width: 85%;
  position: relative;
  margin:auto;
  
}

.presentazione{
     width: 41%;
     height: 50%;
     position: absolute;
     top:50px;
     left: 0;
     font-size: 20px;
 }

.presentazione p{
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 33px;
}

.presentazione a{
    text-decoration: none;
  
    padding:20px;
    font-size: 18px;

}

.presentazione h6{
    margin-top: 60px;
}

.grey_block{
    
    bottom: 0;
    height: 80px;
    width: 100%;
    background-color: rgb(175, 169, 169);
    border-top:2px solid black;
    border-bottom: 2px solid black;
    position: absolute;
    bottom: 0;

}
/* fine header */

/* main */
.sfondo1{
    background-color: lightcyan;
    height: 1190px;
}

.powerfull{
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
   
}

.cube_img{
    height: 300px;
    width: 300px;
    display: block;
    margin: auto ;
}

.powerfull p{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    
}

.free_hub{ 
    margin:auto;
    height: 20%;
    width: 75%;
    position: relative;
    background-color: white;
    border-radius: 10px;
    
}

.book{
  
    text-align: center;
    position: absolute;
    left: 0;
    width: 30%;
    height:40%;
  }

.free_hub_text{
    position: absolute;
    right: 0;
    width: 69%;
    padding-top: 40px;
    margin-right: 12px;
}

.l1{
    border-bottom: 2px solid black;    
    width: 55%;
    height: 20px;
    display: inline-block;
    margin-left: 6%;
    margin-bottom: 5px;
    
}

.img1{
  height: 60%;
  width: 100%;
    display: inline;
    margin-top: 15%;
    margin-bottom: 10%;

}

.free_hub_text h3, h4{
    margin-bottom: 3%;
}

.free_hub_text h3{
    font-size: 25px;
}

.book a{
    background-color: rgb(18, 187, 18);
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    font-size: 12px;

}

.free_hub_text li{
    display: inline;
    margin-right: 15px;
    margin-top: 15px;
}

.free_hub_text span{
    text-transform: uppercase;
}
.free_hub_text ul{
    margin-top:20px;

}

.free_hub_text li::before{
content: "";
background: url("//cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg") no-repeat;
width: 18px;
height: 18px;
display: inline-block;
margin-bottom: -0.3125rem;
margin-right: .625rem;
}

.column_container{
    width: 79%;
    margin: auto;
    margin-top: 30px;
}

.row{
    width: 100%;
    margin:auto;
}

.column{
    float:left;
    width: 30%;
    height: 465px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-left:2.5%;
}

.column_img{
    height: 80px;
    width: 80px;

}

.column h3{
    margin-bottom: 15px;
}

.l2 {
    border-bottom: 2px solid black;    
    width: 80%;
    height: 20px;
    display: inline-block;
    margin:30px auto;

}

.column ul{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
}

.column li{
    text-align: left;
    list-style: none;
    margin-bottom: 2px;
    margin-top: 2px;
}

.column li::before{
    content: "";
background: url("//cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg") no-repeat;
width: 18px;
height: 18px;
display: inline-block;
margin-bottom: 0,5rem;
margin-right: .625rem;

}

.column a{
    background-color: rgb(18, 187, 18);
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    height: 80px;
    
}

.statistiche{
    background-color:rgb(141, 141, 170);
    height: 480px;
    text-align: center;
    color:white;
}

.container3{
    
    width: 75%;
    margin:auto;
    padding-top: 4%;
    
}

.column2{
    float:left;
    width: 20%;
    height: 100px;
    text-align: center;
    border-right: 1px solid white;
    border-bottom:1px solid white;
    padding-top:1.5%;
}

.row,:last-child{
    border-right:none;
}

.no_border{
    border-bottom: none;
}

.statistiche .row{
    margin-left: 10%;
}
.customers{
    width: 40%;
    text-align: center;
    float: left;
    margin-bottom: 30px;
}


    .customers p{
    width: 180px;
    margin: auto;
    font-size: 15px;
    text-align: left;
    line-height: 25px;
}

.customers h2{
    font-size: 55px;
    margin-bottom: 20px;
}

.partners_logs{
    width: 55%;
    height: 100px;
    float: right;
}

.partners_logs li{
    list-style: none;
    display: inline-block;
}

.partners_img{
    height: 22px;
    width: 100px;
    margin-right: 15px;
    margin: 10px;
    
}

.start_grow{
    width: 50%;
    margin-top: 30px;
    float: left;
}

.start_grow h2{

    margin-top: 10px;
    margin-bottom: 20px;
}

.start_grow p{
    margin-bottom: 60px;
    
}

.start_grow h6{
    margin-top: 40px;
}

.start_grow a{
    font-size: 15px;
    padding: 20px 35px;
}

    
.img_grow{
    width: 50%;
    height: 300px;
    float: right;
    background-image: url(./hubspot/img/woman.webp);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
/* fine main */


footer{
    margin-top: 45px;
    background-color:rgb(50, 50, 90);
}

.footer_column{
    color:white;
    text-align: left;
    width: 18%;
    margin-right:5% ;
    float: left;
}

.footer_column li{
    list-style: none;
    margin-top: 15px;
}

.contact_support{
   
    font-size: 10px;
    
    margin-top: 15px;
    padding:10px 1px 10px 30px ;
    background-color:lightgrey;
    border-radius: 10px;
}

.contact_support a{
    color:rgb(50, 50, 90);
    text-decoration:none;
}

.language{
    color: white;
    text-align: center;
    margin-top:30px;
    
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

.language li{
    list-style: none;
    display: inline;
}

.logo_final{
    width: 50%;
    height: 60px;
    float: left;
    margin-top: 40px;
}

.logo_final h5{
    color: white;
}

.privacy{
float: right;
color: white;
margin-top:40px;
}

.privacy span{
    margin-left: 20px;
    
}



